.movieHolder {

    width: 800px;
    height: 500px;
    margin: 0 auto;
    
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;

    padding: 10px;
    box-sizing: border-box;
}

.imageHolder {
    margin-right: 30px;
}